@import 'variables';

h2 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $text;
  padding: 15px 8px;
  margin: 0;
  border-bottom: 1px solid $lighterGray;
  &.no-border {
    border: 0;
  }
}

.main-container {
  width: 100%;
  max-width: 100%;
  padding: 0 16px 16px 16px;
  overflow: auto;
  .section-wrapper {
    display: flex;
    padding: 0 16px;
    .left-section {
      width: 60%;
      margin-right: 16px;
    }
    .right-section {
      width: 40%;
    }
  }
}

.row {
  display: flex;
  .form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    padding-bottom: 40px;
    padding-top: 24px;
    &.watermark {
      opacity: 0.5;
    }
    &:last-child {
      margin-right: 0;
    }
    .label {
      color: $lightBlack;
    }
    .value {
      padding-left: 8px;
      color: $text;
      line-height: 32px;
    }
    select.select-ctrl {
      width: 100%;
      background: $white url('/assets/i/chevron-down-dark.svg') top 12px right 8px no-repeat;
    }
  }
}

h5 {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $lightBlack;
  margin-bottom: 12px;
}

.members {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: $white;
  padding: 20px 24px;
  border: 1px solid $lighterGray;
}
