@import 'mixin';

.modal-container {
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: $white;
  .modal-header {
    border-bottom: 1px solid $pale-grey;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    display: flex;
    .modal-title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $black;
    }
    button {
      border: 0;
      background: transparent url('/assets/i/close.svg') center center no-repeat;
      width: 14px;
      height: 14px;
      outline: none;
    }
  }
  .modal-body {
    padding: 0 24px;
  }
  .modal-footer {
    border: 0;

    .btn.btn-save {
      @include button-default(white, black, black, 192px);
      width: 192px;
    }
    .btn.btn-delete {
      @include button-default(black, white, white, 192px);
      width: 192px;
    }
  }
}
