.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
  .main-content {
    flex: 1;
    height: calc(100% - 32px);
    max-height: calc(100% - 32px);
  }
}