@import 'variables';

.page-container {
  padding: 0; // header styles
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  .header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 16px;
    height: 56px;
    border-bottom: 1px solid $lightGray;
    .back {
      text-decoration: none;
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.41;
      letter-spacing: normal;
      color: $black;
      display: flex;
      align-items: center;
      i {
        margin-right: 12px;
        width: 15px;
        height: 30px;
        display: block;
        background: url('/assets/i/back.svg') center center no-repeat;
        background-size: 15px 30px;
      }
    }
  }
}
