<div class="reliability-workspace container-fluid" [perfectScrollbar]="{}">

  <div class="section">
    <div class="section-header" i18n>Planning</div>
    <div class="section-content row">
      <div class="col-lg-4">
        <div class="workspace-card">
          <div class="workspace-card-header">
            <i class="icon icon-calendar"></i>
          </div>
          <div class="workspace-card-content">
            <div class="workspace-color-bar orange"></div>
            <div class="workspace-card-title" i18n>Contrains Definition</div>
          </div>
          <div class="workspace-card-footer" i18n>View</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="workspace-card">
          <div class="workspace-card-header">
            <i class="icon icon-calendar"></i>
          </div>
          <div class="workspace-card-content">
            <div class="workspace-color-bar orange"></div>
            <div class="workspace-card-title" i18n>Task Navigator</div>
          </div>
          <div class="workspace-card-footer" i18n>View</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="workspace-card">
          <div class="workspace-card-header">
            <i class="icon icon-calendar"></i>
          </div>
          <div class="workspace-card-content">
            <div class="workspace-color-bar orange"></div>
            <div class="workspace-card-title" i18n>Approve</div>
          </div>
          <div class="workspace-card-footer" i18n>View</div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header" i18n>Execution</div>
    <div class="section-content row">
      <div class="col-lg-4">
        <div class="workspace-card">
          <div class="workspace-card-header">
            <i class="icon icon-manage-kernel"></i>
          </div>
          <div class="workspace-card-content">
            <div class="workspace-color-bar green"></div>
            <div class="workspace-card-title" i18n>Task Distribution</div>
          </div>
          <div class="workspace-card-footer" i18n>View</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="workspace-card">
          <div class="workspace-card-header">
            <i class="icon icon-manage-kernel"></i>
          </div>
          <div class="workspace-card-content">
            <div class="workspace-color-bar green"></div>
            <div class="workspace-card-title" i18n>On-going Execution</div>
          </div>
          <div class="workspace-card-footer" i18n>View</div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header" i18n>Continuous Improvement</div>
    <div class="section-content row">
      <div class="col-lg-4">
        <div class="workspace-card">
          <div class="workspace-card-header">
            <i class="icon icon-shield"></i>
          </div>
          <div class="workspace-card-content">
            <div class="workspace-color-bar teal"></div>
            <div class="workspace-card-title" i18n>On-going Q4s</div>
          </div>
          <div class="workspace-card-footer" i18n>View</div>
        </div>
      </div>
    </div>
  </div>

</div>
