@import 'mixin';
.tabs-reliability-container {
  @include tab-page-default;
  margin: 0;
  width: 100%;
  height: 100%;

  .tab-content {
    background-color: #f4f4f4;
  }

  .nav-tabs {
    padding-top: 12px;
    height: 52px;
  }
}
